In [1]:
import pandas as pd

In [2]:
df_quran = pd.read_json ('en.itani.formatted.json')
# make sure number of rows pairs with the index
# df_quran_itani = df.reset_index()

In [3]:
df_quran.head()

,surah_number,aya_number,translation,translation_clean,translation_tokenized
0,1,1,"In the name of God, the Gracious, the Merciful.",in the name of god the gracious the merciful,in the name of god the graciou the merci
1,1,2,"Praise be to God, Lord of the Worlds.",praise be to god lord of the worlds,prais be to god lord of the world
2,1,3,"The Most Gracious, the Most Merciful.",the most gracious the most merciful,the most graciou the most merci
3,1,4,Master of the Day of Judgment.,master of the day of judgment,master of the day of judgment
4,1,5,"It is You we worship, and upon You we call for...",it is you we worship and upon you we call for ...,it is you we worship and upon you we call for ...

In [4]:
import mysql.connector

In [5]:
from sqlalchemy import create_engine

In [6]:
hostname="localhost"
dbname="quran"
uname="root"
pwd="mysql"

In [7]:
# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))

In [9]:
# Save to MySQL using chunks of 500 rows each
df_quran.to_sql('tbl_formatted_translation', engine, index=False, if_exists='append', chunksize=500, method=None)

6236